@font-face {
  font-family: 'Adagio Slab';
  src: url('./fonts/Adagio_Slab-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

.bg-pw-gray {
  background-color: #3B3B4B;
}

.bg-pw-gray-light {
  background-color: #F7F5F6;
}

body, body * {
  font-family: 'Adagio Slab', sans-serif !important;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
